# EXTRACT TRANSFORM LOAD ETL

In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("Foreign_Exchange_Rates.csv")

In [3]:
df.shape

(5217, 24)

In [4]:
df.head(13)

,Unnamed: 0,Time Serie,AUSTRALIA - AUSTRALIAN DOLLAR/US$,EURO AREA - EURO/US$,NEW ZEALAND - NEW ZELAND DOLLAR/US$,UNITED KINGDOM - UNITED KINGDOM POUND/US$,BRAZIL - REAL/US$,CANADA - CANADIAN DOLLAR/US$,CHINA - YUAN/US$,HONG KONG - HONG KONG DOLLAR/US$,...,SINGAPORE - SINGAPORE DOLLAR/US$,DENMARK - DANISH KRONE/US$,JAPAN - YEN/US$,MALAYSIA - RINGGIT/US$,NORWAY - NORWEGIAN KRONE/US$,SWEDEN - KRONA/US$,SRI LANKA - SRI LANKAN RUPEE/US$,SWITZERLAND - FRANC/US$,TAIWAN - NEW TAIWAN DOLLAR/US$,THAILAND - BAHT/US$
0,0,2000-01-03,1.5172,0.9847,1.9033,0.6146,1.805,1.4465,8.2798,7.7765,...,1.6563,7.329,101.7,3.8,7.964,8.443,72.3,1.5808,31.38,36.97
1,1,2000-01-04,1.5239,0.97,1.9238,0.6109,1.8405,1.4518,8.2799,7.7775,...,1.6535,7.218,103.09,3.8,7.934,8.36,72.65,1.5565,30.6,37.13
2,2,2000-01-05,1.5267,0.9676,1.9339,0.6092,1.856,1.4518,8.2798,7.778,...,1.656,7.208,103.77,3.8,7.935,8.353,72.95,1.5526,30.8,37.1
3,3,2000-01-06,1.5291,0.9686,1.9436,0.607,1.84,1.4571,8.2797,7.7785,...,1.6655,7.2125,105.19,3.8,7.94,8.3675,72.95,1.554,31.75,37.62
4,4,2000-01-07,1.5272,0.9714,1.938,0.6104,1.831,1.4505,8.2794,7.7783,...,1.6625,7.2285,105.17,3.8,7.966,8.415,73.15,1.5623,30.85,37.3
5,5,2000-01-10,1.5242,0.9754,1.935,0.6107,1.819,1.4568,8.2794,7.7785,...,1.6618,7.254,105.28,3.8,8.024,8.449,73.3,1.5704,30.83,37.27
6,6,2000-01-11,1.5209,0.9688,1.9365,0.6068,1.8225,1.457,8.2795,7.7785,...,1.669,7.214,106.09,3.8,7.969,8.397,73.35,1.5605,30.83,37.61
7,7,2000-01-12,1.5202,0.9727,1.9286,0.6073,1.835,1.455,8.2796,7.7787,...,1.669,7.236,105.76,3.8,7.977,8.418,73.35,1.566,30.8,37.54
8,8,2000-01-13,1.4954,0.9737,1.9084,0.6067,1.814,1.4495,8.2798,7.7788,...,1.67,7.252,106.09,3.8,7.9425,8.417,73.35,1.5707,30.8,37.49
9,9,2000-01-14,1.5004,0.9874,1.9186,0.6115,1.805,1.4497,8.2797,7.7789,...,1.6752,7.347,105.86,3.8,7.997,8.474,73.35,1.5945,30.83,37.55
10,10,2000-01-17,ND,ND,ND,ND,ND,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
11,11,2000-01-18,1.506,0.988,1.9342,0.6105,1.7942,1.4502,8.2793,7.779,...,1.6735,7.356,105.49,3.8,8.01,8.468,72.85,1.5942,30.89,37.4
12,12,2000-01-19,1.5074,0.9886,1.9399,0.6083,1.793,1.4527,8.2797,7.7798,...,1.6753,7.3655,105.39,3.8,8,8.487,73.2,1.5965,30.85,37.4

In [5]:
df.isnull().sum()

Unnamed: 0                                   0
Time Serie                                   0
AUSTRALIA - AUSTRALIAN DOLLAR/US$            0
EURO AREA - EURO/US$                         0
NEW ZEALAND - NEW ZELAND DOLLAR/US$          0
UNITED KINGDOM - UNITED KINGDOM POUND/US$    0
BRAZIL - REAL/US$                            0
CANADA - CANADIAN DOLLAR/US$                 0
CHINA - YUAN/US$                             0
HONG KONG - HONG KONG DOLLAR/US$             0
INDIA - INDIAN RUPEE/US$                     0
KOREA - WON/US$                              0
MEXICO - MEXICAN PESO/US$                    0
SOUTH AFRICA - RAND/US$                      0
SINGAPORE - SINGAPORE DOLLAR/US$             0
DENMARK - DANISH KRONE/US$                   0
JAPAN - YEN/US$                              0
MALAYSIA - RINGGIT/US$                       0
NORWAY - NORWEGIAN KRONE/US$                 0
SWEDEN - KRONA/US$                           0
SRI LANKA - SRI LANKAN RUPEE/US$             0
SWITZERLAND - FRANC/US$                      0
TAIWAN - NEW TAIWAN DOLLAR/US$               0
THAILAND - BAHT/US$                          0
dtype: int64

hence no missing values

In [6]:
df['date'] = df['Time Serie']

Changed and transformed Time Serie with usable Structure

In [7]:
df =df.drop('Time Serie',axis=1)

In [8]:
import datetime as datetime
from datetime import date

In [9]:
df["date"] = pd.to_datetime(df["date"]).dt.strftime('%Y-%m-%d')

In [10]:
df.to_csv('transformed.csv', header=True, index=False)